:root,
[data-theme='light'] {
  --color-text-primary: #000000;
  --color-text-secondary: #757575;
  --color-text-success: #00a34c;
  --color-text-error: #ff4053;
  --color-text-warning: #fca400;
  --color-text-constant-primary: #000000;
  --color-text-inverse-primary: #ffffff;
  --color-text-inverse-constant-primary: #ffffff;

  --color-bg-page: #ffffff;
  --color-bg-default: #f2f1f0;
  --color-bg-surface: #f5f5f5;
  --color-bg-accent: #f1f6ff;
  --color-bg-elevation-1: #ffffff;
  --color-bg-elevation-2: #f7f7f5;
  --color-bg-success: #e8f7ee;
  --color-bg-error: #fff0f1;
  --color-bg-warning: #ffecc9;
  --color-bg-inverse-elevation-1: #111318;
  --color-bg-inverse-elevation-2: #1c1f26;
  --color-bg-inverse-constant-page: #000000;
  --color-bg-inverse-constant-default: #141414;
  --color-bg-inverse-constant-elevation-1: #1c1c1c;
  --color-bg-inverse-constant-elevation-2: #242424;

  --color-backdrop-fill: rgba(0, 0, 0, 0.56);
  --color-foreground-image-fill: rgba(0, 0, 0, 0.32);
  --color-border-default: #ebeae8;
  --color-border-subtle: rgba(18, 24, 38, 0.08);
  --color-divider-default: #ebeae8;
  --color-components-button-primary: #1f6fff;
  --color-components-button-primary-text: #ffffff;
  --color-components-button-bg-primary: #141414;
  --color-components-button-bg-secondary: #f2f1f0;
  --color-components-button-bg-accent-primary: #00aaff;
  --color-components-button-bg-accent-secondary: #e5f6ff;
  --color-components-button-bg-pay-primary: #965eeb;
  --color-components-button-bg-pay-secondary: #f1e8ff;
  --color-components-button-bg-success-primary: #02d15c;
  --color-components-button-bg-success-secondary: #e8f7ee;
  --color-components-button-bg-danger-primary: #ff4053;
  --color-components-button-bg-danger-secondary: #fff0f1;
  --color-components-button-bg-disabled: #f2f1f0;
  --color-components-button-text-disabled: #a3a3a3;
  --color-components-control-bg-default: #f2f1f0;
  --color-components-control-bg-disabled: #f2f1f0;
  --color-components-control-bg-overlay-default: #ffffff;
  --color-components-control-bg-overlay-disabled: #ffffff;
  --color-components-control-bg-inverse-default: #262624;
  --color-components-control-bg-inverse-disabled: #262624;
  --color-components-slider-defaultfilled: #000000;
  --color-components-bar-defaultfilleddisabled: #adaca8;
  --color-components-bar-inverse-defaultfilled: #ffffff;
  --color-components-bar-inverse-defaultfilleddisabled: #878683;
  --color-components-badge-error: #ff4a63;
  --color-components-progress-warning: #fca400;
  --color-components-promo-visual-shirt-start: #ffd4dc;
  --color-components-promo-visual-shirt-middle: #f6f1ff;
  --color-components-promo-visual-shirt-end: #d2f2ff;
  --color-components-promo-visual-check-start: #d7f5ff;
  --color-components-promo-visual-check-end: #b5e0ff;
  --color-components-promo-visual-check-text: #1274b4;
  --color-components-ads-meta-location-start: #2891ff;
  --color-components-ads-meta-location-end: #135de6;
  --color-components-ad-preview-default-start: #ece7e1;
  --color-components-ad-preview-default-end: #ddd7d0;
  --color-components-ad-preview-sheen: rgba(255, 255, 255, 0.48);
  --color-components-ad-preview-dot: rgba(255, 255, 255, 0.74);
  --color-components-ad-preview-mint-start: #f1eee9;
  --color-components-ad-preview-mint-end: #ddd8d1;
  --color-components-ad-preview-sand-start: #f2efeb;
  --color-components-ad-preview-sand-end: #ddd8d0;
  --color-components-ad-preview-rose-start: #f4ebeb;
  --color-components-ad-preview-rose-end: #ded8d7;
  --color-components-ad-preview-sky-start: #eff4f7;
  --color-components-ad-preview-sky-end: #dbe1e8;

  --color-primitives-gray-black: #000000;
  --color-primitives-gray-gray92: #141414;
  --color-primitives-gray-gray88: #1f1f1f;
  --color-primitives-gray-gray84: #292929;
  --color-primitives-gray-gray76: #3d3d3d;
  --color-primitives-gray-gray68: #525252;
  --color-primitives-gray-gray64: #5c5c5c;
  --color-primitives-gray-gray54: #757575;
  --color-primitives-gray-gray48: #858585;
  --color-primitives-gray-gray44: #8f8f8f;
  --color-primitives-gray-gray36: #a3a3a3;
  --color-primitives-gray-gray28: #b8b8b8;
  --color-primitives-gray-gray24: #c2c2c2;
  --color-primitives-gray-gray20: #cccccc;
  --color-primitives-gray-gray16: #d6d6d6;
  --color-primitives-gray-gray12: #e0e0e0;
  --color-primitives-gray-gray8: #ebebeb;
  --color-primitives-gray-gray4: #f5f5f5;
  --color-primitives-gray-white: #ffffff;
  --color-primitives-warmgray-warmgray100: #0a0a0a;
  --color-primitives-warmgray-warmgray88: #1f1e1d;
  --color-primitives-warmgray-warmgray84: #292827;
  --color-primitives-warmgray-warmgray76: #3d3c3a;
  --color-primitives-warmgray-warmgray68: #52514e;
  --color-primitives-warmgray-warmgray64: #5c5b58;
  --color-primitives-warmgray-warmgray54: #7a7976;
  --color-primitives-warmgray-warmgray48: #8f8d8b;
  --color-primitives-warmgray-warmgray44: #999894;
  --color-primitives-warmgray-warmgray36: #adaca8;
  --color-primitives-warmgray-warmgray28: #c2c1be;
  --color-primitives-warmgray-warmgray24: #cccbc8;
  --color-primitives-warmgray-warmgray20: #d4d2cf;
  --color-primitives-warmgray-warmgray16: #dbdbd9;
  --color-primitives-warmgray-warmgray12: #e3e2e1;
  --color-primitives-warmgray-warmgray8: #ebeae8;
  --color-primitives-warmgray-warmgray4: #f2f1f0;
  --color-primitives-warmgray-warmgray2: #f7f7f5;
  --color-primitives-red-red900: #d9013a;
  --color-primitives-red-red800: #e8003e;
  --color-primitives-red-red700: #f71b47;
  --color-primitives-red-red600: #ff4053;
  --color-primitives-red-red500: #ff6163;
  --color-primitives-red-red400: #ff8c8f;
  --color-primitives-red-red300: #ffacad;
  --color-primitives-red-red200: #ffc5c6;
  --color-primitives-red-red100: #ffe0e0;
  --color-primitives-red-red75: #ffe3e3;
  --color-primitives-red-red50: #ffedee;
  --color-primitives-violet-violet900: #773bd1;
  --color-primitives-violet-violet800: #8144db;
  --color-primitives-violet-violet700: #8c4fe8;
  --color-primitives-violet-violet600: #965eeb;
  --color-primitives-violet-violet500: #a168f7;
  --color-primitives-violet-violet400: #b184f8;
  --color-primitives-violet-violet300: #c2a0fa;
  --color-primitives-violet-violet200: #d5bdfb;
  --color-primitives-violet-violet100: #e9ddfd;
  --color-primitives-violet-violet50: #f3edfe;
  --color-primitives-green-green900: #00a34c;
  --color-primitives-green-green800: #00b253;
  --color-primitives-green-green700: #00c257;
  --color-primitives-green-green600: #02d15c;
  --color-primitives-green-green500: #04e061;
  --color-primitives-green-green400: #45ed6f;
  --color-primitives-green-green300: #7cf782;
  --color-primitives-green-green200: #b1fca7;
  --color-primitives-green-green100: #d2fcc4;
  --color-primitives-green-green75: #d2fcc4;
  --color-primitives-green-green50: #e2ffd6;
  --color-primitives-orange-orange900: #f08400;
  --color-primitives-orange-orange800: #f28d00;
  --color-primitives-orange-orange700: #f79900;
  --color-primitives-orange-orange600: #fca400;
  --color-primitives-orange-orange500: #ffb021;
  --color-primitives-orange-orange400: #ffbf4d;
  --color-primitives-orange-orange300: #ffce75;
  --color-primitives-orange-orange200: #ffdda1;
  --color-primitives-orange-orange100: #ffecc9;
  --color-primitives-orange-orange75: #ffedca;
  --color-primitives-orange-orange50: #fff5e2;
  --color-primitives-fuchsia-fuchsia900: #d30658;
  --color-primitives-fuchsia-fuchsia800: #e50965;
  --color-primitives-fuchsia-fuchsia700: #eb3672;
  --color-primitives-fuchsia-fuchsia600: #f54a80;
  --color-primitives-fuchsia-fuchsia500: #f76893;
  --color-primitives-fuchsia-fuchsia400: #ff8caf;
  --color-primitives-fuchsia-fuchsia300: #ffacc5;
  --color-primitives-fuchsia-fuchsia200: #ffc7d7;
  --color-primitives-fuchsia-fuchsia100: #ffe1ea;
  --color-primitives-fuchsia-fuchsia75: #fff0f4;
  --color-primitives-fuchsia-fuchsia50: #fff0f4;
  --color-primitives-yellow-yellow900: #f2b200;
  --color-primitives-yellow-yellow800: #f5b800;
  --color-primitives-yellow-yellow700: #f7be00;
  --color-primitives-yellow-yellow600: #fcc600;
  --color-primitives-yellow-yellow500: #ffcf24;
  --color-primitives-yellow-yellow400: #ffd950;
  --color-primitives-yellow-yellow300: #ffe27a;
  --color-primitives-yellow-yellow200: #ffeda3;
  --color-primitives-yellow-yellow100: #fff5c9;
  --color-primitives-yellow-yellow50: #fff9de;
  --color-primitives-blue-blue900: #0073e5;
  --color-primitives-blue-blue800: #007deb;
  --color-primitives-blue-blue700: #008aed;
  --color-primitives-blue-blue600: #0099f7;
  --color-primitives-blue-blue500: #00aaff;
  --color-primitives-blue-blue400: #45c1ff;
  --color-primitives-blue-blue300: #80d4ff;
  --color-primitives-blue-blue200: #a1dfff;
  --color-primitives-blue-blue100: #cfedff;
  --color-primitives-blue-blue75: #d4f0ff;
  --color-primitives-blue-blue50: #e6f6ff;
  --color-primitives-beige-beige900: #8f7f5e;
  --color-primitives-beige-beige800: #9c8c6b;
  --color-primitives-beige-beige700: #a89979;
  --color-primitives-beige-beige600: #b5a78a;
  --color-primitives-beige-beige500: #c2b69b;
  --color-primitives-beige-beige400: #cfc4ae;
  --color-primitives-beige-beige300: #dbd3c1;
  --color-primitives-beige-beige200: #e5dfd3;
  --color-primitives-beige-beige100: #ede9e1;
  --color-primitives-beige-beige50: #f2efe9;
  --color-primitives-alpha-white-white4: #ffffff0a;
  --color-primitives-alpha-white-white6: #ffffff0f;
  --color-primitives-alpha-white-white8: #ffffff14;
  --color-primitives-alpha-white-white12: #ffffff1f;
  --color-primitives-alpha-white-white16: #ffffff29;
  --color-primitives-alpha-white-white20: #ffffff33;
  --color-primitives-alpha-white-white24: #ffffff3d;
  --color-primitives-alpha-white-white28: #ffffff47;
  --color-primitives-alpha-white-white32: #ffffff52;
  --color-primitives-alpha-white-white36: #ffffff5c;
  --color-primitives-alpha-white-white40: #ffffff66;
  --color-primitives-alpha-white-white44: #ffffff70;
  --color-primitives-alpha-white-white48: #ffffff7a;
  --color-primitives-alpha-white-white52: #ffffff85;
  --color-primitives-alpha-white-white56: #ffffff8f;
  --color-primitives-alpha-white-white60: #ffffff99;
  --color-primitives-alpha-white-white64: #ffffffa3;
  --color-primitives-alpha-white-white68: #ffffffad;
  --color-primitives-alpha-white-white72: #ffffffb8;
  --color-primitives-alpha-white-white76: #ffffffc2;
  --color-primitives-alpha-white-white80: #ffffffcc;
  --color-primitives-alpha-white-white84: #ffffffd6;
  --color-primitives-alpha-white-white88: #ffffffe0;
  --color-primitives-alpha-white-white92: #ffffffeb;
  --color-primitives-alpha-white-white96: #fffffff5;
  --color-primitives-alpha-black-black4: #0000000a;
  --color-primitives-alpha-black-black6: #0000000f;
  --color-primitives-alpha-black-black8: #00000014;
  --color-primitives-alpha-black-black12: #0000001f;
  --color-primitives-alpha-black-black16: #00000029;
  --color-primitives-alpha-black-black20: #00000033;
  --color-primitives-alpha-black-black24: #0000003d;
  --color-primitives-alpha-black-black28: #00000047;
  --color-primitives-alpha-black-black32: #00000052;
  --color-primitives-alpha-black-black36: #0000005c;
  --color-primitives-alpha-black-black40: #00000066;
  --color-primitives-alpha-black-black44: #00000070;
  --color-primitives-alpha-black-black48: #0000007a;
  --color-primitives-alpha-black-black52: #00000085;
  --color-primitives-alpha-black-black56: #0000008f;
  --color-primitives-alpha-black-black60: #00000099;
  --color-primitives-alpha-black-black64: #000000a3;
  --color-primitives-alpha-black-black68: #000000ad;
  --color-primitives-alpha-black-black72: #000000b8;
  --color-primitives-alpha-black-black76: #000000c2;
  --color-primitives-alpha-black-black80: #000000cc;
  --color-primitives-alpha-black-black84: #000000d6;
  --color-primitives-alpha-black-black88: #000000e0;
  --color-primitives-alpha-black-black92: #000000eb;
  --color-primitives-alpha-black-black96: #000000f5;
}

[data-theme='dark'] {
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
  --color-text-success: #45c777;
  --color-text-error: #ff6474;
  --color-text-warning: #ffc04d;
  --color-text-constant-primary: #000000;
  --color-text-inverse-primary: #000000;
  --color-text-inverse-constant-primary: #ffffff;

  --color-bg-page: #111318;
  --color-bg-default: #21252d;
  --color-bg-surface: #111318;
  --color-bg-accent: #171b24;
  --color-bg-elevation-1: #171a20;
  --color-bg-elevation-2: #1c1f26;
  --color-bg-success: #10351f;
  --color-bg-error: #3a151b;
  --color-bg-warning: #3b2a08;
  --color-bg-inverse-elevation-1: #ffffff;
  --color-bg-inverse-elevation-2: #f7f7f5;
  --color-bg-inverse-constant-page: #000000;
  --color-bg-inverse-constant-default: #141414;
  --color-bg-inverse-constant-elevation-1: #1c1c1c;
  --color-bg-inverse-constant-elevation-2: #242424;

  --color-backdrop-fill: rgba(0, 0, 0, 0.72);
  --color-foreground-image-fill: rgba(0, 0, 0, 0.48);
  --color-border-default: rgba(255, 255, 255, 0.08);
  --color-border-subtle: rgba(255, 255, 255, 0.08);
  --color-divider-default: rgba(255, 255, 255, 0.08);
  --color-components-button-primary: #5aa8ff;
  --color-components-button-primary-text: #000000;
  --color-components-button-bg-primary: #ffffff;
  --color-components-button-bg-secondary: #21252d;
  --color-components-button-bg-accent-primary: #00aaff;
  --color-components-button-bg-accent-secondary: #122d3d;
  --color-components-button-bg-pay-primary: #965eeb;
  --color-components-button-bg-pay-secondary: #2b1f3d;
  --color-components-button-bg-success-primary: #02d15c;
  --color-components-button-bg-success-secondary: #10351f;
  --color-components-button-bg-danger-primary: #ff4053;
  --color-components-button-bg-danger-secondary: #3a151b;
  --color-components-button-bg-disabled: #21252d;
  --color-components-button-text-disabled: #6f737a;
  --color-components-control-bg-default: #21252d;
  --color-components-control-bg-disabled: #21252d;
  --color-components-control-bg-overlay-default: #171a20;
  --color-components-control-bg-overlay-disabled: #171a20;
  --color-components-control-bg-inverse-default: #262624;
  --color-components-control-bg-inverse-disabled: #262624;
  --color-components-slider-defaultfilled: #ffffff;
  --color-components-bar-defaultfilleddisabled: #63625f;
  --color-components-bar-inverse-defaultfilled: #ffffff;
  --color-components-bar-inverse-defaultfilleddisabled: #878683;
  --color-components-badge-error: #ff6474;
  --color-components-progress-warning: #ffc04d;
  --color-components-promo-visual-shirt-start: #ffd4dc;
  --color-components-promo-visual-shirt-middle: #f6f1ff;
  --color-components-promo-visual-shirt-end: #d2f2ff;
  --color-components-promo-visual-check-start: #d7f5ff;
  --color-components-promo-visual-check-end: #b5e0ff;
  --color-components-promo-visual-check-text: #1274b4;
  --color-components-ads-meta-location-start: #2891ff;
  --color-components-ads-meta-location-end: #135de6;
  --color-components-ad-preview-default-start: #ece7e1;
  --color-components-ad-preview-default-end: #ddd7d0;
  --color-components-ad-preview-sheen: rgba(255, 255, 255, 0.48);
  --color-components-ad-preview-dot: rgba(255, 255, 255, 0.74);
  --color-components-ad-preview-mint-start: #f1eee9;
  --color-components-ad-preview-mint-end: #ddd8d1;
  --color-components-ad-preview-sand-start: #f2efeb;
  --color-components-ad-preview-sand-end: #ddd8d0;
  --color-components-ad-preview-rose-start: #f4ebeb;
  --color-components-ad-preview-rose-end: #ded8d7;
  --color-components-ad-preview-sky-start: #eff4f7;
  --color-components-ad-preview-sky-end: #dbe1e8;

  --color-primitives-gray-black: #e3e3e3;
  --color-primitives-gray-gray92: #d4d4d4;
  --color-primitives-gray-gray88: #cccccc;
  --color-primitives-gray-gray84: #c4c4c4;
  --color-primitives-gray-gray76: #b2b2b2;
  --color-primitives-gray-gray68: #a3a3a3;
  --color-primitives-gray-gray64: #9c9c9c;
  --color-primitives-gray-gray54: #878787;
  --color-primitives-gray-gray48: #7a7a7a;
  --color-primitives-gray-gray44: #737373;
  --color-primitives-gray-gray36: #636363;
  --color-primitives-gray-gray28: #545454;
  --color-primitives-gray-gray24: #4d4d4d;
  --color-primitives-gray-gray20: #454545;
  --color-primitives-gray-gray16: #3d3d3d;
  --color-primitives-gray-gray12: #363636;
  --color-primitives-gray-gray8: #2e2e2e;
  --color-primitives-gray-gray4: #252525;
  --color-primitives-gray-white: #0a0a0a;
  --color-primitives-warmgray-warmgray100: #e3e2e1;
  --color-primitives-warmgray-warmgray88: #cccbc8;
  --color-primitives-warmgray-warmgray84: #c4c3c0;
  --color-primitives-warmgray-warmgray76: #b2b1ad;
  --color-primitives-warmgray-warmgray68: #a3a29e;
  --color-primitives-warmgray-warmgray64: #9c9a97;
  --color-primitives-warmgray-warmgray54: #878683;
  --color-primitives-warmgray-warmgray48: #7a7975;
  --color-primitives-warmgray-warmgray44: #73716e;
  --color-primitives-warmgray-warmgray36: #63625f;
  --color-primitives-warmgray-warmgray28: #545351;
  --color-primitives-warmgray-warmgray24: #4c4c49;
  --color-primitives-warmgray-warmgray20: #454442;
  --color-primitives-warmgray-warmgray16: #3d3c3a;
  --color-primitives-warmgray-warmgray12: #363533;
  --color-primitives-warmgray-warmgray8: #2e2d2c;
  --color-primitives-warmgray-warmgray4: #262624;
  --color-primitives-warmgray-warmgray2: #1f1e1d;
  --color-primitives-red-red900: #ff9197;
  --color-primitives-red-red800: #ff8286;
  --color-primitives-red-red700: #ff7075;
  --color-primitives-red-red600: #fc5d63;
  --color-primitives-red-red500: #f24954;
  --color-primitives-red-red400: #d11d3b;
  --color-primitives-red-red300: #b20c30;
  --color-primitives-red-red200: #871a2c;
  --color-primitives-red-red100: #5c1e25;
  --color-primitives-red-red75: #381518;
  --color-primitives-red-red50: #381518;
  --color-primitives-violet-violet900: #bb99ff;
  --color-primitives-violet-violet800: #b38aff;
  --color-primitives-violet-violet700: #a978ff;
  --color-primitives-violet-violet600: #9f63ff;
  --color-primitives-violet-violet500: #9353f5;
  --color-primitives-violet-violet400: #7a39d4;
  --color-primitives-violet-violet300: #5c28a6;
  --color-primitives-violet-violet200: #471f80;
  --color-primitives-violet-violet100: #33155c;
  --color-primitives-violet-violet50: #240f42;
  --color-primitives-green-green900: #4af071;
  --color-primitives-green-green800: #1be361;
  --color-primitives-green-green700: #02d459;
  --color-primitives-green-green600: #04c454;
  --color-primitives-green-green500: #02b54c;
  --color-primitives-green-green400: #00913d;
  --color-primitives-green-green300: #00702d;
  --color-primitives-green-green200: #005721;
  --color-primitives-green-green100: #003d16;
  --color-primitives-green-green75: #002b0f;
  --color-primitives-green-green50: #002b0f;
  --color-primitives-orange-orange900: #ffd07a;
  --color-primitives-orange-orange800: #ffc761;
  --color-primitives-orange-orange700: #ffbd45;
  --color-primitives-orange-orange600: #ffb224;
  --color-primitives-orange-orange500: #faa700;
  --color-primitives-orange-orange400: #d48a00;
  --color-primitives-orange-orange300: #a86b00;
  --color-primitives-orange-orange200: #805100;
  --color-primitives-orange-orange100: #523404;
  --color-primitives-orange-orange75: #362a14;
  --color-primitives-orange-orange50: #362205;
  --color-primitives-fuchsia-fuchsia900: #ff9197;
  --color-primitives-fuchsia-fuchsia800: #ff88ab;
  --color-primitives-fuchsia-fuchsia700: #fc7da3;
  --color-primitives-fuchsia-fuchsia600: #f66e97;
  --color-primitives-fuchsia-fuchsia500: #e65481;
  --color-primitives-fuchsia-fuchsia400: #c42f5c;
  --color-primitives-fuchsia-fuchsia300: #b41c4a;
  --color-primitives-fuchsia-fuchsia200: #881538;
  --color-primitives-fuchsia-fuchsia100: #60122a;
  --color-primitives-fuchsia-fuchsia75: #490e20;
  --color-primitives-fuchsia-fuchsia50: #490e20;
  --color-primitives-yellow-yellow900: #ffe278;
  --color-primitives-yellow-yellow800: #ffd950;
  --color-primitives-yellow-yellow700: #ffcf24;
  --color-primitives-yellow-yellow600: #fcc600;
  --color-primitives-yellow-yellow500: #f2be00;
  --color-primitives-yellow-yellow400: #d1a000;
  --color-primitives-yellow-yellow300: #a67f00;
  --color-primitives-yellow-yellow200: #806200;
  --color-primitives-yellow-yellow100: #574304;
  --color-primitives-yellow-yellow50: #362a05;
  --color-primitives-blue-blue900: #52c8ff;
  --color-primitives-blue-blue800: #2eb9ff;
  --color-primitives-blue-blue700: #00aaff;
  --color-primitives-blue-blue600: #009cf0;
  --color-primitives-blue-blue500: #008fdb;
  --color-primitives-blue-blue400: #0071b8;
  --color-primitives-blue-blue300: #005291;
  --color-primitives-blue-blue200: #004078;
  --color-primitives-blue-blue100: #002d57;
  --color-primitives-blue-blue75: #001d3b;
  --color-primitives-blue-blue50: #001d3b;
  --color-primitives-beige-beige900: #ccc0a7;
  --color-primitives-beige-beige800: #bfb297;
  --color-primitives-beige-beige700: #b3a588;
  --color-primitives-beige-beige600: #a69779;
  --color-primitives-beige-beige500: #998a6b;
  --color-primitives-beige-beige400: #7d7057;
  --color-primitives-beige-beige300: #665c48;
  --color-primitives-beige-beige200: #4f4839;
  --color-primitives-beige-beige100: #383329;
  --color-primitives-beige-beige50: #2e2a22;
}
